*~
*.swp
Makefile
bin/
*.user*
build/
qrc_todi.cpp
src/*~
src/*.swp
qml/*~
qml/*.swp
.qtquickcompiler/
*_qtquickcompiler.qrc
tags
cscope.out
*.rootfs.cpio.packimg
make-static.sh
*plugin_import.cpp
dashboard-initfs.tar.bz2
initfs.img
initfs.img.gz
Version.hpp
.qmake.*
GenerateVersion.sh
